@import "_variables.scss";

header{
    position: fixed;
    padding: 10px;
    width: calc(100% - 20px);
    max-width: $max;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    background: $defaultop;
    backdrop-filter: blur(5px);
    z-index: 10;
}
#logo{
    font-size: 20px;
    background: none;
    color: $blue;
}
.bts-header{
    display: flex;
    align-items: center;

}
.bt-header{
    padding: 5px 20px;
    margin: 0 5px;
    border-radius: 50px;
    font-size: 14px;
    background: $blue;
    color: white;
    transition: all .3s;
    cursor: pointer;
    &:hover{
        background: darken($blue, 5%);
    }
}
#theme{
    aspect-ratio: 1;
    width: 40px;
    background: $blue;
    transition: all .3s;
    margin: 0 8px;
    border-radius: 50%;
    background-image: url("https://media.licdn.com/dms/image/D4D03AQEC5i-f-zvBVw/profile-displayphoto-shrink_400_400/0/1678599874941?e=1686182400&v=beta&t=vq5ibhQR46-I8sCFG4sN5hB_3VW450oIM81rv6U87KM");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &:hover{
        background: darken($blue, 5%);
    }
}
